@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

.container {
  display: flex;
  flex-direction: row;
  height: auto;
  /* justify-content: space-around; */
}
