/*Font Library*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
/*Font Library*/

/* Variables Start */
:root {
  /* Pastel Color Scheme Start */
  --heading-pastel: #4a6163;
  --background-pastel: #f9faf4;
  --text-pastel: #4a6163;
  --secondary-pastel: #607678;
  --pastel-accent-border: #df4c73;
  --section-background: #e2f0f9;
  --section-underline: #286fb4;
  /* --secondary-pastel: rgb(168, 178, 209); */

  /* Pastel Color Scheme End */
  --yellow-shade: #286fb4;
  --pink-shade: #df4c73;
  --primary-font: "Fira Code", monospace;
  --secondary-font: "Montserrat", sans-serif;
  --section-heading-color: rgba(255, 255, 255, 0.3);
  --cta-color: #3883ff;
  --cta-hover-color: #2f67cd;
  --timeline-border-color: var(--yellow-shade);
  --background-color: #221e3f;
  --body-background-desktop: url("/images/sitebg.jpg") no-repeat center fixed;
  --body-background-mobile: url("/images/sitebg2.jpg") no-repeat center fixed;
}
/* Variables End */

/*Start global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: #eee;
}

body {
  width: 100vw;
  height: 100%;
  background: var(--background-pastel);
  background-size: cover;
  color: var(--text-pastel);
}

section {
  padding: 6rem 0;
}

a {
  text-decoration: none;
  color: var(--heading-pastel);
}

h1 {
  font-family: var(--primary-font);
  font-size: 2.5rem;
  color: var(--heading-pastel);
}

h2 {
  font-family: var(--primary-font);
}

span {
  font-family: var(--primary-font);
}

h3 {
  font-family: var(--primary-font);
}
h4 {
  font-family: var(--primary-font);
}

h5 {
  font-family: var(--primary-font);
}

h6 {
  font-family: var(--secondary-font);
  color: var(--pastel-accent-border);
  font-weight: 400;
}

p {
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: 500;
}

img {
  width: 100%;
}
/*End global*/

/*Start reusable*/
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}

.section-heading h1 {
  font-size: 3.5rem;
  color: var(--heading-pastel);
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--section-underline);
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}

.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
}

.has-margin-right {
  margin-right: 5rem;
}

.custom_btn {
  display: inline-block;
  padding: 15px 20px 15px 20px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  transition: all 0.3s;
  border: none;
}

.btn_primary {
  cursor: pointer;
  color: #fff;
  background: #09b3af;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
}

.btn_arrow {
  width: 40px;
  margin-left: 30px;
  margin-right: -8px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #414f79;
  display: inline-block;
  vertical-align: middle;
}

.btn_primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
}

/*End reusable*/

/* Start Sticky Social & Email */
.jLhcAf {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--heading-pastel);
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  line-height: 1.3;
}

.jpDLWP {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.jpDLWP li {
  font-size: 3rem;
  line-height: 1.5;
}

.jpDLWP a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.jpDLWP a:hover {
  color: var(--pastel-accent-border);
}

.jpDLWP::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  background-color: var(--heading-pastel);
  margin: 0px auto;
}

.gsLHrc {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--heading-pastel);
  line-height: 1.3;
}

.fYmeBf {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.eENglj {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  margin: 20px auto;
  padding: 10px;
}

.eENglj a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.fYmeBf::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  background-color: var(--heading-pastel);
  margin: 0px auto;
}
/* End Sticky Social & Email */

/* Modal Start */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 51;
}

.modal {
  max-width: 80%;
  max-height: 70%;
  overflow: auto;
  margin: 0 auto;
  padding: 40px 20px;
  background: var(--background-pastel);
  border-radius: 1rem;
  display: flex;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  flex-direction: column;
}

.modal .modal_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal_header {
  max-height: 35rem;
}

.modal_header .modal_img {
  justify-content: flex-end;
  margin: 1rem;
  border-radius: 1rem;
  width: 80%;
  filter: drop-shadow(0px 5px 3px black);
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 0px 80px rgba(0, 0, 0, 0.12); */
}

.modal_img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  max-height: 30rem;
}

.modal_header .modal_info {
  align-items: right;
  margin: 1rem;
  padding: 1rem 2rem;
  line-height: 1.5;
  border: 3px solid var(--section-underline);
  border-radius: 1rem;
}

.modal_info span {
  font-size: 1.6rem;
  background-color: var(--pastel-accent-border);
  color: var(--background-pastel);
}

.modal_info a {
  font-size: 1.6rem;
}

.modal .modal_desc {
  margin: 2rem 0 0rem 0;
  padding: 1rem 1rem 0.5rem 1rem;
}

.close_modal {
  position: absolute;
  top: 0.5rem;
  right: 3rem;
  font-size: 3rem;
  color: var(--pastel-accent-border);
  cursor: pointer;
}

.modal button {
  color: #444;
  font-weight: bold;
  margin-top: 20px;
}

.modal p {
  color: var(--text-pastel);
  font-weight: 500;
}

/* Modal End */

/*Start header*/
header {
  width: 100%;
  height: 100vh;
}

.logo {
  width: 70rem;
}

.top-nav {
  padding: 3rem 12rem 0 0;
  background: var(--background-pastel);
  margin-top: -1.2rem;
  height: 80px;
  width: 100vw;
  border-top: 3px solid var(--pastel-accent-border);
  position: fixed;
  z-index: 50;
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
}

/* .nav-background {
  transform: skew(20deg);
  background: red;
} */

li {
  margin: 0 2rem;
}

.nav-link {
  font-family: var(--primary-font);
  font-size: 2rem;
  /* padding: 0rem; */
  cursor: pointer;
}

.nav-link > .active {
  border-bottom: 2px solid var(--pastel-accent-border);
}

.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, var(--yellow-shade), var(--pink-shade));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  visibility: hidden;
}

.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: linear-gradient(to right, var(--yellow-shade), var(--pink-shade));
  width: 100%;
  height: 4px;
  border-radius: 0.8rem;
}

.bar.half {
  width: 50%;
}

.bar.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  transform: rotate(-450deg) translateX(0.8rem);
}

.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
  transform: rotate(-450deg) translateX(-0.8rem);
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1 {
  font-size: 20rem;
  font-family: var(--primary-font);
  background: linear-gradient(to top, var(--yellow-shade), var(--pink-shade));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.landing-text h6 {
  font-size: 4rem;
  font-family: var(--secondary-font);
}
/*End header*/

/*Start about*/
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  border: 3px solid var(--section-underline);
  border-radius: 1rem;
}

.about-heading {
  text-align: center;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}

.about-heading h6 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.profile-img img {
  width: 40rem;
  filter: grayscale(100%) blur(1px);
}

.profile-img img:hover {
  filter: unset;
  transition: filter 300ms;
}

.about-details {
  flex: 1;
}

.nav-list-social {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 5rem;
  transition: color 650ms;
}

.fab:hover {
  color: var(--pastel-accent-border);
}

.get-in-touch {
  color: var(--section-underline);
  width: 14rem;
  background-color: transparent;
  /* display: inline; */
  /* align-items: center; */
  margin-left: 45%;
  font-size: 14px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  line-height: 1;
  cursor: pointer;
  margin-top: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--section-underline);
  border-image: initial;
  border-radius: 3px;
  padding: 1.25rem 1.75rem;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  position: relative;
  top: -18.5rem;
}

.get-in-touch:hover {
  background-color: var(--section-underline);
  color: var(--background-pastel);
  transition: background-color 650ms;
}

.resume {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 14px;
  text-transform: initial;
  margin-left: 55%;
  position: relative;
  top: -92px;
  left: -18rem;
}

.about_btns {
  margin: 2rem;
  padding: 2rem;
}

.get-in-touch a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
/*End about*/

/*Start services*/
.my-skills {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* outline: 4px solid white; */
  border-width: 2px;
  border-style: solid;
  border-color: var(--section-underline);
  box-shadow: 3px;
  border-radius: 1rem;
  background-color: var(--background-pastel);
  /* border-radius: 1rem; */
}

.skill h1 {
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}

.skill:hover {
  background-color: var(--section-heading-color);
  transition: 150ms;
}

.icon-container {
  width: 10rem;
  height: 10rem;
  display: flex;
  transform: rotate(45deg);
}

.icon-container i {
  color: var(--section-underline);
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}
/*End services*/

/*Start portfolio*/
.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-img {
  max-height: 380px;
  flex: 1;
  margin-top: 3rem;
}

.portfolio-img img {
  height: 100%;
  filter: grayscale(100%) blur(1px) drop-shadow(0px 5px 3px black);
}

.portfolio-img img:hover {
  filter: unset;
  transition: filter 300ms;
}

.portfolio-description {
  flex: 1;
}

.portfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
}

.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--section-underline);
  transition: color 650ms;
  font-family: var(--primary-font);
  cursor: pointer;
}

.portfolio-description .cta:hover {
  color: var(--cta-hover-color);
}

.tagname {
  padding-top: 1rem;
}

.tagname b {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  background-color: var(--secondary-pastel);
  color: var(--background-pastel);
}

.more_projects {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 14px;
  text-transform: initial;
  margin-left: 55%;
  position: relative;
  top: 5rem;
  left: -18rem;
}

/*End Portfolio*/

/*Start timeline*/

.lboard_section {
  width: 70%;
  height: 200px;
  background: #286fb4;
  padding: 25px 40px;
  position: relative;
  border-radius: 5px;
  margin: 0 auto;
}

.side_tabs {
  width: 14%;
  position: absolute;
}

.side_tabs .lboard_tabs ul {
  display: flex;
  flex-direction: column;

  /* justify-content: space-around; */
}

.side_tabs .lboard_tabs ul li {
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: 42px;
  text-align: left;
  white-space: nowrap;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 13px;
  font-weight: 500;
  color: var(--text-pastel);
  text-decoration: none;
  padding: 0px 20px 2px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  border-left: 2px solid rgb(48, 60, 85);
  /* mix-blend-mode: difference; */
}

.side_tabs .lboard_tabs ul li:hover,
.side_tabs .lboard_tabs ul li:focus {
  color: var(--text-pastel);
  background-color: #b0dde4;
}

.side_tabs .lboard_tabs ul li.active {
  color: #fff;
  background-color: #b0dde4;
  border-left: 3px solid var(--pastel-accent-border);
}

.lboard_wrap {
  position: absolute;
  top: 60px;
  left: 40px;
  background: #b0dde4;
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 10px;
  /* overflow: hidden; */
}

.lboard_wrap .lboard_item {
  padding: 25px;
}

.job_desc {
  color: var(--text-pastel);
}

.job_desc a {
  color: var(--pastel-accent-border);
}

.job_name {
  position: absolute;
  padding: 10px;
  top: 0;
}

.job_name h3 {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  color: var(--background-pastel);
  font-size: 20px;
  font-weight: 600;
}

.job_name .time_period {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 15px;
  font-weight: 400;
  color: var(--background-pastel);
}

.experience .container {
  height: 50rem;
  position: relative;
}

/*End timeline*/

/*Start contact*/
.contact {
  position: relative;
}

.form_design {
  padding: 5rem;
  background-color: #e2f0f9;
  border-radius: 1rem;
  border: 2px solid var(--section-underline);
}

form {
  width: 70%;
  margin: 0 auto;
}

form label {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--primary-font);
}

input,
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin: 5px 0 5px 0;
  border: none;
  outline-color: var(--pastel-accent-border);
}

input[type="submit"] {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  width: initial;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: var(--pastel-accent-border);
  color: var(--text-pastel);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

input[type="submit"]:hover {
  color: var(--background-color);
  background-color: rgb(137, 187, 245);
  opacity: 0.5;
}
/*End contact*/

/*Start footer*/
.copyright {
  width: 100%;
  text-align: center;
  background-color: var(--background-pastel);
  padding: 2rem 0;
  position: relative;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: var(--pastel-accent-border);
  right: 5rem;
  top: -2.5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite linear;
  cursor: pointer;
}

.up i {
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.4rem;
}
/*End footer*/

/*Start animations*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}
/*End animations*/

@media screen and (max-width: 1330px) {
  .modal {
    overflow: auto;
    max-height: 80%;
    /* display: inline-block; */
  }

  .modal .modal_header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .modal_header .modal_img {
    width: 50%;
    align-self: center;
    margin-top: 20rem;
  }

  .modal .modal_desc {
    margin-top: 20rem;
  }
}

/*Start media queries*/
@media screen and (max-width: 800px) {
  .jLhcAf {
    visibility: hidden;
  }

  .gsLHrc {
    visibility: hidden;
  }

  .job_name h3 {
    font-size: 2rem;
  }

  body {
    width: 100%;
    height: 100%;
    background: var(--background-pastel);
    background-size: cover;
  }

  .menu-toggler {
    visibility: visible;
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
  }

  .top-nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: initial;
    top: -100vh;
    z-index: 50;
    background: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
  }

  .landing-text h1 {
    font-size: 11rem;
  }

  .landing-text h6 {
    font-size: 2.5rem;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  li {
    margin: 2rem 0;
  }

  .nav-link {
    font-size: 4.5rem;
  }

  .about-heading h1 {
    font-size: 8rem;
  }

  .section-heading h1 {
    font-size: 3rem;
  }

  .about-details .nav-list {
    flex-direction: initial;
  }

  .about-details li {
    margin: 0 2rem;
  }

  .icon-container {
    width: 7rem;
    height: 7rem;
  }

  .icon-container i {
    font-size: 4rem;
  }

  .timeline ul {
    margin: 0 0 0 auto;
  }

  .timeline .date::before {
    left: -20rem;
  }

  .timeline .date::after {
    left: -5.9rem;
  }

  .lboard_section {
    width: 80%;
  }

  .side_tabs .lboard_tabs ul li {
    padding: 10px;
  }

  .side_tabs .lboard_tabs ul li.active {
    color: #fff;
    background-color: #b0dde4;
    border-left: initial;
    border-top: 3px solid var(--pastel-accent-border);
  }

  .side_tabs {
    width: 40rem;
    position: absolute;
    top: 108px;
    left: 105px;
  }

  .scrollmenu {
    overflow: auto;
  }

  .scrollmenu li {
    display: inline-block;
  }

  .side_tabs .lboard_tabs ul {
    display: flex;
    flex-direction: row;

    /* justify-content: space-around; */
  }

  .resume {
    top: 20px;
    left: -120px;
  }

  .more_projects {
    left: -10rem;
  }

  .get-in-touch {
    position: relative;
    left: -50px;
    top: initial;
  }
  .about .container {
    flex-direction: column;
  }
  .profile-img {
    margin: 0 0 7rem 0;
  }
}

@media screen and (max-width: 600px) {
  .jLhcAf {
    visibility: hidden;
  }

  .gsLHrc {
    visibility: hidden;
  }

  .logo {
    width: 40rem;
  }

  .side_tabs {
    width: 20rem;
  }

  .menu-toggler {
    visibility: visible;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
  }

  .top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    padding: initial;
    top: -100vh;
    z-index: 50;
    background: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landing-text h1 {
    font-size: 8rem;
  }

  .landing-text h6 {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 3.5rem;
  }

  .about .container {
    flex-direction: column;
  }

  .profile-img {
    margin: 0 0 7rem 0;
  }

  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-img {
    margin: 0 0 2rem 0;
    order: 1;
  }

  .portfolio-img img {
    filter: drop-shadow(0px 5px 3px black);
  }

  .portfolio-description {
    margin: 0;
    order: 2;
  }

  .timeline p {
    font-size: 1.6rem;
  }

  .timeline .date::before {
    font-size: 1.4rem;
  }

  form {
    width: 100%;
  }

  .up {
    right: 2rem;
  }
  .modal .modal_desc {
    margin-top: 22rem;
  }
}
/*End media queries*/
